<h1>Admin Panel</h1>

<section>
    <h2>Bots</h2>
    <table>
        <thead>
            <tr>
                <th>Player ID</th>
                <th>Bot name</th>
                <th>Cards</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <% bots.forEach(bot=> { %>
                <tr>
                    <td>
                        <%= bot.player_id %>
                    </td>
                    <td>
                        <%= bot.player_name %>
                    </td>
                    <td>
                        <a href="/admin/assign-cards/<%= bot.player_id %>">Assign cards</a>
                    </td>
                    <td>

                        <form method="POST" action="/admin/deletebot/<%= bot.player_id %>">
                            <button type="submit"
                                onclick="return confirm('¿Borrar bot <%= bot.player_name %>?')">Delete</button>
                        </form>

                    </td>
                </tr>
                <% }) %>
                    <tr>
                        <td>?</td>
                        <td>
                            <form id="form-bot" method="POST" action="/admin/createbot">
                                <input type="text" name="player_name" value="Noops Eno" />
                            </form>
                        </td>
                        <td>
                            <button type="submit" form="form-bot">Add bot</button>
                        </td>
                    </tr>
        </tbody>
    </table>

</section>

<section>
    <h2>Users</h2>
    <table>
        <thead>
            <tr>
                <th>Player ID</th>
                <th>Player name</th>
                <th>Email</th>
                <th>Is admin</th>
                <th>Cards</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user=> { %>
                <tr>
                    <td>
                        <%= user.user_id %>
                    </td>
                    <td>
                        <%= user.user_name %>
                    </td>
                    <td>
                        <%= user.user_email %>
                    </td>
                    <td>
                        <%= user.is_admin ? "Yes" : "No" %>
                    </td>
                    <td>
                        <a href="/admin/assign-cards/<%= user.user_id %>">Assign cards</a>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</section>